<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/All Weird Stuff/Office/Cucumber/untitled">
        <classes>
            <class name="org.example.StepDefs.GoogleStepDefs">
                <methods>
                    <include name="launchgoogle"/>
                    <include name="lala"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>